/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Poppins:wght@700&display=swap');
.bg{
    display: flex;
background-image: url('/iphone.jpg');
background-repeat: no-repeat;
background-size: cover;
height: 600px;
width:100%;
opacity: 0.5;
animation: backimage 15s infinite linear;
color:white;

}
 @keyframes backimage{
    
    0%{background-image: url('/iphone.jpg') ;}
    /* 25%{background-image: url('/iphone1.jpg'); } */
    50%{background-image: url('/iphone2.png');  }
    /* 75%{background-image: url('/iphone3.jpg'); } */
    100%{background-image: url('/iphone4.png');}
  
}
.main{
   display: flex;
    position: absolute;
    top: 30%;
    color: navy;
    max-width: 700px;
    text-align: center;
    font-weight: 900;
    opacity:2;
    font-family: 'Inconsolata', monospace;
    
}
.app{
    display:grid;

    grid-template-columns :repeat( 3 ,1fr);
    
}
.shape{
    width:60px;
    height:70px;
    background:goldenrod;
 font-weight: bold;   
     border-radius:0px 10px 60px/60px 0px; 
     margin:10px;
    font-family: 'Inconsolata', monospace;

}
.shape h5{
    margin:10px 0;
}
.imglist{
    justify-content:center;
    
    margin: 15px;
    box-shadow:0 10px 10px rgb(82, 92, 174)
}
.imgli{
    display: inline;
    justify-content: center;
    margin: 25px 30px;
    height: 300px;
    width: 10vw;
    box-shadow:0 5px 5px rgb(183, 207, 241) ;
   }
.img{
    display: grid;
    width: 50%;
    margin: 100px auto;
    
    justify-content: center;   
}
.apple{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width:70%;
    align-items:center;
    margin:5vh auto;
    height: 100%;

}
.del{
    color:gray;
    margin:0 10px;
}
.typo{
    margin: 10px 60px;
  
    border-radius:10%;
     text-align:center;
 
}
.typos{
    text-align:center;
    
}
.gear{
    display: flex;
    

    margin:auto ;
}
.gears{
    display: flex;
   width: 100%;
   margin: auto;
   justify-content: center;
   
 align-items: center;
 background:  rgb(245, 247, 250) ;
 transform: rotate(0deg);
  }
  .gears:hover{
     
    transform: rotate(20deg);

  }
@media (width >= 400px) and (width < 900px){
    .img{
       margin: 100px -20px;
        width: 100%;
    }
    .main{
        top:35%
    }
    .app{
        display:grid;
    
        grid-template-columns :repeat( 2 ,1fr);
        
    }
   .imglist{
    width:85%;
    margin: 15px 30px;
  
   }
   
   .gear{
    width:auto;
   }
   .apple{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    margin: 1vh 2%;;

   }
   .imgli{
    
       margin: 15px 20px;
       height: 300px;
       width: 40vw;
       text-align: center;
  
   }
   .typos{
    font-size: 1rem;
   }
}
@media (width < 400px){
    .img{
       
        width: 100%;
    }
    .main{
        top:30%
    }
    .app{
        display:grid;
    
        grid-template-columns :repeat( 1,1fr);
       
    }
    .imgli{
        width: 80%;
    }
   .imglist{
    width:90%;
   }
   .gear{
    width:auto;
   }
  
   .apple{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 1vh 10%;
   }
 
}
@media (width >= 900px) and (width < 1200px)  {
    .main{
     top:20%;
    
    }
    .apple{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
       }
    .imglist{
        width:75%;
        margin: 15px 50px;
       }
       .imgli{
        width: 20vw;
    }
    
}
