.bottom{
    display: none;
    
    }
    
    @media  (width < 500px) {
        .bottom{
            display: flex;
            /* text-align:center; */
             position:fixed;
             bottom:0%;
             width: 100%;
             
            }   
        .home{
            background: white;
            width: 50%;
            height: 50px;
            text-align: center;
            padding: 12px;
            font-size: 1.2rem;
            line-height: 2rem;
            
        }   
        .cart{
            background:#14ffff;
            width: 50%;
            height: 50px;
            text-align: center;
            padding: 12px;
            font-size: 1.2rem;
            line-height: 2rem;
        }    
        .button{
            display: none;
        }
        .cart:active{
            background: #4017d3;
            color: white;
        }
        .home:active{
            background:#f6e2ff;
        }
     } 